@{
    ViewBag.Title = "Index";
}



 
<br /><br />
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" style="color:red;">STUDENT FEEDBACK SYSTEM</h1>
        <p class="lead">
            This Student Feedback System is designed to manage student data. It provides
            capability for choosing selected courses and giving feedback on the
            perception of the delivery quality of the lecturer.
        </p>
        <p><a href="" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <marquee> Welcome to Team Narwhal Feedback Page</marquee>
</main>